html{
	font-size:14px; 
	height:100%;
	width:100%;
	background:#F0F0F0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	color:#555;
}
body{
	width:100%;
	background:#F0F0F0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	color:#555;
}
.hover{ opacity: .8; }
.click{
	background-color:#ccc;
	opacity:.8;
}
.flex-wrap{ display: -webkit-box;	display: -webkit-flex;	display: flex; }
.flex-con{     -webkit-box-flex: 1;     -webkit-flex: 1;    flex: 1;}
.flex-vertical{ -webkit-box-orient: vertical;-webkit-flex-flow: column;flex-flow: column;}

.border-t,
.border-b{ position:relative;  }
.border-t:before,
.border-b:after{content: '';position: absolute;left: 0;top:0;background: #ddd;   right:0;    height: 1px;     -webkit-transform: scaleY(0.5);             transform: scaleY(0.5);     -webkit-transform-origin: 0 0;             transform-origin: 0 0; }
.border-b:after{ top:auto; bottom:0;  }
#wrap{ height: 100%;}
*{
	padding:0;
	margin:0;
}

h1{
	text-align: center;
}

/*首页样式*/
#index-page{
	background:#F0F0F0;
	position:relative;
}
#index-header{
	width:100%;
	height:45px;
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
}
.search-box{
	width:90%;
	height:36px;
	margin:15px auto;
	background:url('../image/search_icon.png') no-repeat 8px center #FFFFFF;
	background-size:24px 24px;
	border-radius:3px;
	line-height: 36px;
	font-size:16px;
	color:#666;
}
.search-box .icon{
	width:20px;
	height:20px;
	margin:2px 5px 3px 15px;
	display: block;
	float:left;    		
}
.swiper-slide img{
	width:100%;
	float:left;
}
#banner{
	width:100%;
	float:left;
	padding:0;
}
#banner .swiper-pagination{
	bottom: 0;
}
#banner .swiper-pagination-bullet{
	opacity:.6;
}
#banner .swiper-pagination-bullet-active{
	background:#068DCA;
}
#nav-wrap{
	width:100%;
	overflow: hidden;
	position:relative;
	float:left;
	background:#ffffff;
}
#nav-wrap ul{
	float:left;width:100%;
	overflow: hidden;
	margin-top:8px;
}
.nav-flex-wrap{
	display: -webkit-box;	
	display: -webkit-flex;	
	display: flex;
}
#nav-wrap ul li{
    padding-top: 46px; 
    padding-bottom: 4px; 
    background: url() no-repeat center 2px; 
    background-size: auto 40px; 
    text-align: center;
}
.nav-flex-con{
	-webkit-box-flex: 1;
    -webkit-flex: 1;    
    flex: 1;
}
#nav-wrap ul li:nth-child(1){ background-image: url(../image/person_icon.png); }
#nav-wrap ul li:nth-child(2){ background-image: url(../image/fairs_icon.png); }
#nav-wrap ul li:nth-child(3){ background-image: url(../image/cate_icon.png); }
#hot-job-list-wrap{
	width:96%;
	overflow: hidden;
	margin:0 auto;
	padding-top:8px;
	padding-left:1px;
}
#hot-job-list-wrap .hot-job-list{
	width:100%;
	float:left;
	overflow: hidden;
	margin-left:5px;
}
#hot-job-list-wrap .job-item{
	width:33.1%;
/*        	height:30px;*/
	text-align:center;
	line-height:30px;
	background:#ffffff;
	border-left:2px solid #F0F0F0;
	border-bottom:2px solid #F0F0F0;
	float:left;
	font-size:16px;
	padding:5px 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#hot-job-list-wrap .job-item:nth-of-type(3n+3)){
	border-right:2px solid #FFFFFF;
}
#news-job-list{
	width:95%;
	height:auto;
	overflow: hidden;
	margin:10px auto 5px auto;
}
#news-job-list .list-item{
	width:100%;
	height:65px;
	margin-bottom:8px;
	background:#fff;
}
.list-item .item-list-left{
	width:20%;
	height:100%;
	float:left;
	background:red;
	text-align:center;
	line-height:65px;
	color:#fff;
}
.list-item .item-list-right{
	width:78%;
	height:65px;
	margin-left:2%;
	overflow: hidden;
	float:left;
}
.item-list-right ul{
	width:100%;
	overflow:hidden;
}
.item-list-right li{
	width:100%;
	height:65px;
	float:left;
}
.item-list-right li p{
	height:18px;
	line-height:18px;
	font-size:13px;
	color: #666;
}
.item-list-right li p.title{
	height:24px;
	line-height:24px;
	color:#068dca;
	font-size:16px;
	margin-top:2px;
}
.item-list-right li p.tag span{
	border-right:1px solid #DDDDDD;
	padding:0 3px;
	font-size:13px;
	line-height:13px;
	height:12px;
	margin:2px 0;
}
.item-list-right li p.tag span:last-child{
	border-right:2px solid #FFFFFF;
}
#bottom-nav-wrap{
	width:95%;
	height:auto;
	overflow: hidden;
	margin:0 auto;
	padding-bottom:10px;
}
#bottom-nav-wrap #nav-content{
	background:#fff;
}
#bottom-nav-wrap ul li{
    padding-top: 46px; 
    padding-bottom: 4px; 
    background: url() no-repeat center 6px; 
    background-size: auto 40px; 
    text-align: center;
}
#bottom-nav-wrap ul li:nth-child(1){ background-image: url(../image/mq_icon.png); }
#bottom-nav-wrap ul li:nth-child(2){ background-image: url(../image/tuijian_icon.png); }
#bottom-nav-wrap ul li:nth-child(3){ background-image: url(../image/hot_icon.png); background-size: auto 34px;background-position:center 8px;}
#bottom-nav-wrap ul li:nth-child(4){ background-image: url(../image/pp_icon.png); background-size: auto 34px;background-position:center 8px;}

/*职位推荐*/
#tuijian-page{
	background:#ffffff;
	height:auto;
	overflow: hidden;
}
.tj-job-list{
	width:100%;
	height:auto;
	overflow: hidden;
	
}
.tj-job-list .ti-job-item{
	width:100%;
	overflow:hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	padding:4px 2% 4px 5%;
	position:relative;
}
.tj-job-list .ti-job-item:after{
	content:'';
	display:block;
	width:95%;
	border-bottom:1px solid #ccc;
	position: absolute;
	bottom:0;
	right:0;
}
.ti-job-item .tj-left{
	width:75%;
	overflow: hidden;
	float:left;
}
.ti-job-item .tj-item-company{
	text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
	white-space: nowrap;
	-webkit-white-space: nowrap;
}
.ti-job-item .tj-tag-info span{
	margin-right:5px;
}
.ti-job-item .tj-right{
	width:25%;
	overflow: hidden;
	float:left;
}
.ti-job-item p{
	width:100%;
	overflow:hidden;
	height:22px;
	line-height:22px;
	font-size:14px;
}
.ti-job-item p.tj-item-title{
	color:#068dca;
	font-size:16px;
}
.ti-job-item p.create-time{
	color:#068dca;
}
.ti-job-item .tj-right p{
	text-align:right;
	font-size:12px;
}
/*简历列表页*/
#resume-content{
	width:96%;
	overflow: hidden;
	margin:0 auto;
	background:#F0F0F0;
}
#resume-content .resume-indro{
	width:100%;
	height:36px;
	line-height:36px;
	color: #333;
	font-size:16px;
}
#resume-content .resume-list{
	width:100%;
	height:auto;
	overflow: hidden;
	background:#ffffff;
}
.resume-list .list-item{
	width:100%;
	overflow: hidden;
}
.resume-list .list-item-top{
	width:100%;
	height:66px;
	padding:0 3%;
	background:#71c5ea;
	position:relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.resume-list .resume-title{
	height:30px;
	line-height:30px;
	font-size:15px;
	color:#FFFFFF;
	margin-bottom:4px;
	padding-top:4px;
}
.resume-list .resume-tag{
	height:34px;
	
}
.resume-list .resume-tag span{
	display:block;
	padding:0 3px;
	color:#FFFFFF;
	background:#068DCA;
	float:left;
	margin-right:10px;
	font-size:13px;
}
.resume-list .resume-tag span.ispass{
	background:green;
}
.resume-list .resume-branch{
	width:46px;
	height:40px;
	background:#DDDFE3;
	border-radius:24px;
	overflow:hidden;
	text-align: center;
	position:absolute;
	top:10px;
	right:5%;
	padding-top: 6px;
}
.resume-list .resume-branch span{
	display:block;
	width:100%;
	height: 18px;
	line-height: 18px;
}
.resume-list .resume-branch span.green{
	color: green;
}
.resume-list .resume-branch span.text{
	color: #aaaaaa;
	font-size:12px;
}
.resume-list .list-item-bottom{
	width:100%;
	overflow: hidden;
	border:1px solid #DDDFE3;
	border-top:none;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.list-item-bottom .resume-status-list{
	width:100%;
	overflow: hidden;
}
.resume-status-list .status-item{
	border-right:1px solid #DDDFE3;
	text-align: center;
	margin:6px 0;
}
.resume-status-list .status-item:last-child{
	border-right:none;
}
.resume-status-list .status-item span{
	display:block;
	margin-bottom:4px;
}
.resume-status-list .status-item span.status-title{
	color:#aaaaaa;
}
.resume-list .resume-operable-btn{
	width:100%;
	border-top:1px solid #DDDFE3;
	overflow: hidden;
	padding:15px 0;
	text-align: center;
}
.resume-list .resume-operable-btn span{
	color:#068DCA;
	font-size:15px;
}
.resume-list .resume-operable-btn span.gray{
	color:#aaaaaa;
}
/*user 页面*/
#user-page{
/*        	height:auto;*/
	background:#F0F0F0;
	/*overflow: hidden;*/
}
#user-center{
	width:100%;
	overflow: hidden;
}
#user-top{
	width:100%;
	height:132px;
	background:url('../image/user_bg.jpg') no-repeat center center;
	background-size:cover;
	
}
.user-info-wrap{
	width:92%;
	height:100%;
	margin:0 auto;
	position:relative;
}
.head-img{
	width:80px;
	height:80px;
	border:1px solid #DDDDDD;
	border-radius:40px;
	background:#ccc;
	/*float:left;*/
	position:absolute;
	top:50%;
	left:0;
	margin-top:-30px;
}
.user-text{
	position:absolute;
	top:50%;
	left:95px;
	margin-top:-20px;
	color:#FFFFFF;
}
.user-text p{
	height: 30px;
	line-height: 30px;
	font-size:16px;
}
.user-set-btn{
	padding:3px 8px;
	color: #FFFFFF;
	border-radius:12px;
	background:rgba(0,0,0,.5);
	position:absolute;
	top:10%;
	right:0;
	font-size:12px;
}
#user-nav{
	width:100%;
	overflow: hidden;
	background: #FFFFFF;
	border-bottom:1px solid #DDDDDD;
}
#user-nav li{
	width:100%;
	height:48px;
	font-size:16px;
}
#user-nav .item-left{
	width:12%;
	height:48px;
	background: url(../image/bottombtn0101.png) no-repeat center 12px;
	float:left;
	background-size:20px 22px;
	
}
#user-nav .item-right{
	width:88%;
	height:47px;
	line-height: 47px;
	border-bottom:1px solid #DDDDDD;
	float: left;
}
#user-nav li:last-child .item-right{
	border-bottom:none;
}
/*职位详情页*/
#detail-main {	
	display: -webkit-box;	
	display: -webkit-flex;	
	display: flex;	
	-webkit-box-orient: vertical;	
	-webkit-flex-flow: column;	
	flex-flow: column;	
}	
#detail-header {	
	position: relative;	
	background-color: #068DCA;	
	border-bottom: 1px solid #e0e0e0;
	color:#FFFFFF;
}
.back-btn{
	width:26%;
	height: 50px;
	line-height: 50px;
	float:left;
	position: absolute;
	left:0;
	bottom:0;
}
.back-btn span{
	float:left;
	height:50px;
	font-size:16px;
	line-height:50px;
	margin-left:28px;
}
.logo {	
	position: absolute;	
	left: 5px;	
	bottom: 13px;	
	height: 24px;	
}	
h1 {	
	height: 50px;	
	line-height: 50px;	
	font-size: 18px;		
	font-weight: normal;	
	margin: 0 auto;	
	text-align: center;	
}	
.navbar {	
	display: -webkit-box;	
	display: -webkit-flex;	
	display: flex;	
	-webkit-box-orient: horizontal;	
	position: relative;	
	height: 40px;	
	box-sizing: border-box;	
	background: #fff;	
	border-bottom: 1px solid #e0e0e0;	
}	
.navbar-item {	
	display: block;	
	-webkit-box-flex: 1;	
	-webkit-flex: 1;	
	flex: 1;	
	width: 100%;
	height:40px;
	line-height: 40px;	
	font-size: 16px;	
	text-align: center;	
	color: #9B9C9C;
	
}	
.navbar-item-hov {	
	background-color: rgba(254,242,228,0.7);	
}	
.navbar-item-active {
	height:39px;
	color: #068DCA;
	border-bottom:1px solid #068DCA;
}	
#navmark {
	/*border-bottom:1px solid #068DCA;*/
	position: absolute;	
	left: 0px;	
	bottom: 0px;	
	-webkit-transition: 300ms;	
}	
#navmark img {	
	position: absolute;	
	bottom: 0;	
	height: 8px;	
}

.content-list{
	width:100%;
	overflow:hidden;
	background:#ffffff;
}
.content-list .row-item{
	width:97%;
	margin-left:3%;
	border-bottom:1px solid #e0e0e0;
	overflow: hidden;
}
.job-detail-content .row-item .title-item{
	width:100%;
	height:36px;
	line-height: 36px;
	float:left;
}
.job-detail-content .title-item.detail-job-title{
	font-size:16px;
	height:28px;
	line-height:32px;
}
.job-detail-content .title-item.company-title{
	height:46px;
	line-height:46px;
	font-size:16px;
}
.blue-color{
	color:#068DCA;
}
.job-company-content .row-item .text-item{
	line-height:40px;
}
.row-item .text-item{
	width:48%;
	height: 40px;
	line-height:40px;
	float:left;
}
.job-detail-content .indro-title{
	width:100%;
	float:left;
}
.job-detail-content .row-item .indro-content{
	width:94%;
	overflow: hidden;
	float:left;
}
.job-company-content .row-item .indro-content{
	padding:15px 0;
}
.job-detail-content .row-item .indro-content p{
	width:100%;
	line-height: 22px;
	font-size:14px;
	float: left;
}
.job-detail-content .job-info-content{
	width:100%;
	overflow:hidden;
	border-bottom:none;	
}
/*搜索页面样式*/
.search-content{
	width:97%;
	overflow: hidden;
	margin:0 auto;
}
.search-tab-box{
	width:100%;
	height:109px;
	overflow: hidden;
	background: #42d0c8;
	margin:0 auto;
	margin-top:2%;
}
.search-tab-box .nav-box{
	height:45px;
}
.nav-box .nav-item{
	height:45px;
	line-height:45px;
	text-align:center;
	color:#999;
	font-size:16px;
	background:#DDDDDD;
}
.nav-box .nav-item.active{
	background: #42d0c8;
	color:#FFFFFF;
}
.search-tab-box .content-box{
	overflow: hidden;
	margin:12px 0;
}
.content-box #search-key{
	-webkit-appearance: none;
	width:90%;
	height:40px;
	background:#FFFFFF;
	margin:0 5%;
	font-size:16px;
	text-indent:8px;
	border:1px solid #068DCA;
	border-radius:0px;
}
/*.content-box #search-key::-webkit-input-placeholder
 * 
 	line-height:20px;
}*/
.search-page-content{
	width:97%;
	overflow: hidden;
	margin:0 auto;
	font-size:16px;
}
.keyword-history{
	width:100%;
	overflow: hidden;
	margin:0 auto;
}
.keyword-history .history-title{
	width:100%;
	height:40px;
	line-height:40px;
	background:#F0F0F0;
	position:relative;
	color: #068DCA;
}
.keyword-history .history-list{
	width:100%;
	background:#FFFFFF;
}
.history-title .this-title{
	margin-left:10px;
}
.history-title .clear-btn{
	float:right;
	margin-right:8px;
}
.history-list .his-item{
	width:100%;
	height:42px;
	line-height:42px;
	border-top:1px solid #eee;
	text-indent:10px;
}
.news-company-list{
	width: 100%;
	overflow: hidden;
	padding-top:5px;
}
.news-company-list .n-c-title{
	width:100%;
	height:42px;
	line-height:42px;
	text-indent:10px;	
}
.n-c-list-conent{
	width:100%;
	overflow:hidden;
	background:#FFFFFF;
}
.n-c-list-conent .n-c-item{
	width:100%;
	height:40px;
	line-height:40px;
	text-indent:10px;
	border-top:1px solid #EEEEEE;
	position:relative;
}
.n-c-list-conent .n-c-item:after{
	content:'';
	display:block;
	width:32px;
	height:32px;
	background:url('../image/ic_arrow_right_black.png') no-repeat center center;
	background-size:14px 14px;
	position:absolute;
	top:5px;
	right: 0;
}







